# STMicroelectronics STM32MP2 MPU series
#
# Copyright (C) 2025 Savoir-faire Linux, Inc.
# Copyright (c) 2025 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_STM32MP2X

rsource "Kconfig.defconfig.stm32mp2*"

if SOC_STM32MP2X_A35 || SOC_STM32MP2X_A35_SMP

config CACHE_MANAGEMENT
	default y

DT_STM32_CPU_CLOCK_PATH := $(dt_nodelabel_path,stgen)
DT_STM32_CPU_CLOCK_FREQ := $(dt_node_int_prop_int,$(DT_STM32_CPU_CLOCK_PATH),clock-frequency)

# For STM32MP2, override the default value defined in STM32 Kconfig
config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(DT_STM32_CPU_CLOCK_FREQ) if $(dt_nodelabel_enabled,stgen)

endif # SOC_STM32MP2X_A35 || SOC_STM32MP2X_A35_SMP

endif # SOC_SERIES_STM32MP2X
